body {
    font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
    overflow: hidden;
    color: #333;
    -moz-user-select: none;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 5px;
}

.lightblueCell {
    background-color: #cfe7f5;
    border-radius: 8px;
    width: 150px;
    padding: 8px;
    text-align: center;
}

.borderedCell {
    border: 1px solid #666;
    border-radius: 8px;
    width: 150px;
    padding: 8px;
    text-align: center;
    background-color: #fff;
}

.gray {
    background-color: #eee;
}

.red {
    color: #fff;
    background-color: red;
}

.green {
    color: #fff;
    background-color: #83b56b;
}

.blue {
    color: #fff;
    background-color: #438dcb;
}

.button {
    height: 60px;
    margin: 0.5%;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
}

.button.blue {
    color: #fff;
    -moz-transition: none 0s ease 0s;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 14px 24px;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button.blue:hover {
    color: #ffffee;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088EE, #0044EE);
    background-repeat: repeat-x;
}

.button.blue:active {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 1px inset #000;
}
.button.shadow {
    color: #fff;
    -moz-transition: none 0s ease 0s;
    border: 0 none;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 14px 24px;
    background-color: #666666;

    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button.shadow:hover {
    color: #000000;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #708090, #A9A9A9);
    background-repeat: repeat-x;
}

.button.shadow:active {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CCCCFF);
    background-repeat: repeat-x;
    border: 1px inset #000;
}
.button.special {
    color: #fff;
    -moz-transition: none 0s ease 0s;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 14px 24px;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float: right;
}

.button.special:hover {
    color: #ffffee;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088EE, #0044EE);
    background-repeat: repeat-x;
}

.button.special:active {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 1px inset #000;
}
