
database:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: bart_db
  pool: 5
  username: username
  password: password
  facility: BART
  socket: /var/run/mysqld/mysqld.sock


dashboard:
  dashboard_ip: 0.0.0.0
  user:         username
  password:     password
  port: 3001
  timeout:      600
  open_timeout: 600

