
bart2:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: bart2_db
  pool: 5
  username: username
  password: password
  socket: /var/run/mysqld/mysqld.sock



opd:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: opd_db
  pool: 5
  username: username
  password: password
  socket: /var/run/mysqld/mysqld.sock

