<html>
  <head>
    <title>CVR</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />

    <script type="text/javascript" src="/javascripts/application.js"></script>

    <script type="text/javascript">
      <!--
      
      function ajaxRequest(aUrl) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
          handleResult(httpRequest);
        };
        try {
          httpRequest.open('GET', aUrl, true);
          httpRequest.send(null);
        } catch(e){
        }
      }

      function handleResult(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {
          var result = aXMLHttpRequest.responseText;

          document.getElementById("news").innerHTML = result;

          // Refresh every 10 minutes
          setTimeout("ajaxRequest('/common/retrieve_announcements')", 1 * 60000);
        }
      }

      // Refresh every 10 minutes
      setTimeout("ajaxRequest('/common/retrieve_announcements')", 1 * 60000);
      
      //-->
    </script>

  </head>
  <body style="background-color: #000;">
    <div id="main" style="border: 1px #666 solid; height: 90%; background-color: white;">
      <iframe src="/next_path" style="border: none; width: 100%; height: 100%;" target="_self"></iframe>
    </div>

    <div style="border: 1px solid #999; margin: 10px; border-radius: 10px;
         vertical-align: middle; overflow: hidden; bottom: 20px;">

      <table width="100%" style="margin: 0px; height: 50px;" cellpadding="0" cellspacing="0">
        <tr>
          <td style="color: red; font-size: 28px; padding-left: 10px; padding-right: 10px;
              font-style: italic; font-weight: bold; text-align: center; background-color: #fff;">
            NEWS<br />
            <span style="color: blue; font-size: 0.4em;">Announcements</span>
          </td>
          <td style="background-color: blue; color: white;">
        <marquee id="news" direction="left" style="float: left; font-size: 36px;">
          <%= @news %>
        </marquee>
        </td>
        <td style="vertical-align: middle; background-color: #000; color: #cfe7f5;
            font-size: 24px; padding-left: 15px; padding-right: 15px;">
          <%= @facility.gsub(" ", "<span style='color: black;'>_</span>") %>
        </td>
        </tr>
      </table>
    </div>

  </body>
</html>