<html>

  <head>
    <title>Attendance Trends</title>
  </head>

  <script language="javascript" type="text/javascript" src="/javascripts/flotr2.min.js"></script>

  <script type="text/javascript ">

    function draw_trend(){

        var graph_area = document.getElementById("graph");


        graph = Flotr.draw(graph_area,<%= @data_list %>, {xaxis :{ticks : <%=@days.to_json %>, min:0, max:6},
        yaxis: {min:0, max:<%= @max.to_json %>}, legend: {position :'ne', backgroundColor: '#D2E8FF'}});

    }
    setTimeout("draw_trend()", 30);
  </script>

  <body>

  <div id="heading" style="font-size: 36px; text-align: center; margin: 10px;
          background-color: #cfe7f5; border-radius: 10px; padding: 15px; border: 1px solid #999;">
    Facility Attendance Trends
  </div>
  <div id="coat">
    <img src="/images/coatOfArms.png" alt="" height="60" style="position: absolute; top: 25px; right: 30px;" />
  </div>


  <div id="content" style="border-radius: 10px; border: 1px solid #999; margin: 10px;
          height: 78%; overflow: hidden; padding: 10px;">

      <div align="center" id= "graph" style="  width: 98%; margin-top: 2%; height: 95%;text-align:center  " >

      </div>


    </div>

    <script type="text/javascript">
      <!--
      slideShow(1000);

      setTimeout("window.location = '/common/next_path'", 6000 <%= "+ #{params[:duration].to_f * 60000}" %>);
      //-->
    </script>

  </body>

</html>

