<html>
  <head>
    <title>CVR</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />

    <script type="text/javascript" src="/javascripts/application.js"></script>

  </head>
  <body>
    <div id="main" style="border: 1px #666 solid; height: 100%; background-color: white;">
      <%= yield %>
    </div>
  </body>
</html>